{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>Registeration</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<link rel='stylesheet' type='text/css' media='screen' href='main.css' >
	<link rel='stylesheet' type='text/css' href="{% static 'styles/desenioFormulario.css' %}">
	<script src='main.js'></script>

</head>
<body>
	<div class="login-box">
		<h1>Login</h1>
		<form action="login" method="post">
			{% csrf_token %}
			<label for="usarname">Ingrese Nombre de Usuario</label>
			<input type="text" name="username" placeholder="username"><br>
			<label for="password">Ingresar Password</label>
			<input type="password" name="password" placeholder="password"><br>
			<input type="submit">

		</form>
	</div>

	<div>
		{% for message in messages %}
		<h3> {{ message }}</h3>
		{% endfor %}
	</div>
</body>
</html>
